/*Start Variables*/
:root {
  --mainColor: #10cab7;
  --secondColor: #2c4755;
  --paraColor: #9e9e9e;
  --sectionPadding: 60px;
}
/*End Variables*/
/*Global Rules*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/*Small*/
@media (min-width: 760px) {
  .container {
    width: 750px;
  }
}

/*Meduim*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End of Global Rules*/

/*Component*/
.special-header {
  margin: 0;
  font-size: 100px;
  letter-spacing: -4px;
  font-weight: 800;
  text-align: center;
  color: #ebeced;
}

.special-header + p {
  margin: -30px 0;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 767px) {
  .special-header {
    font-size: 60px;
  }

  .special-header + p {
    margin-top: -20px;
  }
}

.grip-30 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*Header*/
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 53px;
  height: 30px;
  padding: 5px;
}

.header .links {
  position: relative;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 3px;
}

.header .links .icon span:first-child {
  height: 2px;
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  height: 2px;
  width: 60%;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header .links .icon span:last-child {
  height: 2px;
  width: 100%;
}

.header .links ul {
  display: none;
  transition: 0.2s;
  font-size: 16px;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background-color: #eee;
  padding: 15px;
  width: 150px;
  text-align: center;
  perspective: 600px;
  perspective-origin: right center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header .links ul::before {
  content: "";
  border: 12px solid;
  border-color: #eee transparent transparent transparent;
  position: absolute;
  top: -13px;
  right: 0;
}

.header .links ul li {
  margin-bottom: 10px;
  border-right: 1px solid #333;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 10px;
}

.header .links ul li:hover {
  box-shadow: -7px 7px 8px -6px #333;
  transform: translateZ(6px);
  font-size: 20px;
}

.header .links:hover ul {
  display: block;
}

/*Landing*/
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .intro-test {
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-test h1 {
  margin: 0;
  color: var(--mainColor);
  font-size: 45px;
  font-weight: 800;
  box-shadow: 0px 2px 8px -7px #333;
}

.landing .intro-test p {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
}

.featuers {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.featuers .container .feat {
  padding: 20px;
  text-align: center;
}

.featuers .container .feat li {
  color: var(--mainColor);
}

.featuers .container .feat h3 {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
}

.featuers .container .feat p {
  color: var(--paraColor);
  line-height: 1.6;
}

/*Services*/
.services {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.services .container {
  text-align: center;
  position: relative;
}

/* .services .container  */

.services .container .servic-content {
  padding-top: var(--sectionPadding);
}

.services .container .servic-content .col .serv {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .services .container .servic-content .col .serv {
    flex-direction: column;
    text-align: center;
  }
}

.services .container .servic-content .col .serv li {
  color: var(--mainColor);
  flex-basis: 60px;
}

.services .container .servic-content .col .serv .text {
  text-align: start;
  padding-left: 20px;
}

.services .container .servic-content .col .serv .text h3 {
  margin: 0;
  margin-bottom: 20px;
}

.services .container .servic-content .col .serv .text p {
  color: var(--paraColor);
  line-height: 1.6;
  font-weight: 300;
}

.services .container .servic-content .col .image {
  position: relative;
}
@media (max-width: 992px) {
  .services .container .servic-content .col .image {
    display: none;
  }
}
.services .container .servic-content .col .image img {
  border-style: none;
  width: 260px;
  height: 350px;
}
.services .container .servic-content .col .image::after {
  content: "";
  position: absolute;
  height: calc(100% + 80px);
  width: 80px;
  z-index: -1;
  top: -40px;
  right: 7px;
  background-color: var(--secondColor);
}

/*Prtofolio*/
.portofolio {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.porto-content {
  padding-top: var(--sectionPadding);
}

.porto-content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.porto-content .card img {
  width: 350px;
  height: 300px;
}

.porto-content .card .info {
  padding: 30px;
}

.porto-content .card .info h3 {
  margin: 0;
}

.porto-content .card .info p {
  margin: 20px 0 0 0;
  color: var(--paraColor);
  line-height: 1.6;
  font-weight: 300;
}

/*About*/

.about {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.about .about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
}

@media (max-width: 992px) {
  .about .about-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
  }
}

.about-container .img {
  position: relative;
  width: 250px;
  height: 375px;
}

.about-container .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--mainColor);
  top: -5px;
  right: 21px;
  z-index: -1;
}

.about-container .img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: var(--mainColor);
  top: -24px;
  left: -5px;
  z-index: -1;
}

.about-container .img img {
  border-style: none;
  width: 270px;
  height: 373px;
}

.about-container .info {
  flex-basis: calc(100% - 500px);
}

@media (max-width: 767px) {
  .about-container .info {
    text-align: center;
  }
}

.about-container p {
  padding: 30px 0;
  margin: 20px 0 0 0;
  color: var(--paraColor);
  line-height: 1.6;
}

.info p:first-child {
  font-weight: 800;
}

.info hr {
  background-color: var(--mainColor);
  width: 45%;
  height: 3px;
  border: none;
  margin-left: 5%;
}

@media (max-width: 767px) {
  .info hr {
    width: 30%;
    height: 3px;
    border: none;
    margin-left: 32%;
  }
}

/*contact*/

.contact-container {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  text-align: center;
}

.contact-container .info .label {
  margin: 20px 0;
  font-size: 42px;
  font-weight: 800;
  color: var(--secondColor);
}
@media (max-width: 767px) {
  .contact-container .info .label {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -2px;
  }
}
.contact-container .info a {
  text-decoration: none;
  color: var(--mainColor);
  margin: 0;
  font-weight: 800;
  font-size: 36px;
}
@media (max-width: 767px) {
  .contact-container .info a {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -2px;
  }
}

.contact-container .info .social {
  margin: 20px 0;
  letter-spacing: 2px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .contact-container .info .social {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
  }
}

footer {
  background-color: var(--secondColor);
  text-align: center;
  height: 30%;
}

footer p {
  margin: 0;
  color: #fff;
  font-size: 24px;
  padding: 30px 15px;
}

@media (max-width: 767px) {
  footer p {
    font-size: 16px;
  }
}

footer p span {
  color: var(--mainColor);
}
